@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
.removeBullets{
    list-style: none;
}
li,.inline{
    display:inline-block;
}
.nav-bar{
 display:flex;
}
ul li{
 padding:10px 20px;
 border: 1px solid  black;
 border-radius: 100px;;
 margin:0px 20px;
 width:200px;
}
nav div{
    margin-left: 150px;
    margin-top:40px;
}
ul li{
    text-align: center;
}
*{
    font-family: 'Roboto',sans-serif;
    font-size: large;
    font-weight:500;
}
ul,.nav-bar:hover{
 cursor:pointer;
 transition:all 0.3s ease 0s;
}
.box img{
    position:relative;
}
.text{
    position:absolute;
    top:25%;
    padding:100px;
    background-color: rgb(0, 0, 0,0.5);
    background-size:cover ;
    margin-left:80px;
}
.text a {
    display:block;
    color:white;
}
.contact-us{
    width:25%;
    height:40px;
    background-color: black;
    padding-top:25px;
    text-align: center;
}
.contact-us:hover{
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
.text a{
   margin:30px 60px;
}
.heading{
    width:70%;
    font-size: 57px;
}
.quote{
    font-size:25px;
}